.counterPage {
/* background-color: rgba(237, 243, 243, 0.271); */
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}


.counterButtons {
/* background-color: rgba(237, 243, 243, 0.271); */
width: 75%;
	display: flex;
align-items: center;
	justify-content: space-around;
	
}

@media screen and (min-width: 300px) {
.counterPage {
	font-size: 20px;
}




}

