/** @format */

.btn {
	height: 50px;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #F0F3BD;
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
	background-color: #00BFB2;
	border: solid 3px #00BFB2;
	border-radius: 55px;
	box-shadow: 1px 3px rgb(4, 155, 160), 0em 0em 0.3em rgb(246, 248, 248);
	cursor: pointer;

}

@media screen and (min-width: 300px)
 {
	.btn {
	font-size: 20px;
	height: 30px;
	width: 100px;
}

}