/** @format */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
/** @format */

.header {
  color: #1a5e63;
  font-size: 65px;
}

@media screen and (max-width: 768px) {
  .header {
    color: #1a5e63;
    font-size: 46px;
    padding-bottom: 20px;
  }
}
