/** @format */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
/** @format */

@media screen and (min-width: 900px) {
	a {
		text-decoration: none;
		cursor: pointer;
	}

	* {
		margin: 0;
			font-size: 20px;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
			'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
			'Helvetica Neue', sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	p {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
			'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
			'Helvetica Neue', sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #028090;
		text-shadow: 0, 0 2 1em rgb(239, 13, 202);
		font-size: 15px;
		grid-area: 1 /1 /2 /2;
		margin-top: -60px;
	}

	.homeContainer{
		width: 100vw;
		height: 100vh;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 3fr 1fr;
	}

		.main{
				font-size: 65px;
		grid-area: 1 /1 /4 /2;
		background-color: #00BFB2;
		color: #C64191;
	}

		.counter{		
		grid-area: 1 /2 /4 /3;
		background-color: #C64191;
				padding: 20px;
	}

	.headerContainer{
				padding: 20px;
		color: #1A5E63;
		background-color: aquamarine;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.start {
		cursor: pointer;
		--s: 0.1em; /* the thickness of the line */
		--c: #0baab5;
		padding-bottom: var(--s);
		background: linear-gradient(90deg, var(--c) 50%, #000 0)
				calc(100% - var(--_p, 0%)) / 200% 100%,
			linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s)
				no-repeat;
		-webkit-background-clip: text, padding-box;
		background-clip: text, padding-box;
		transition: 0.5s;
	}

	.start:hover {
		--_p: 100%;
		color:#1A5E63;
	}


	
}

@media screen and (min-width: 300px) {
	

	

	
}

