/** @format */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
/** @format */

@media screen and (min-width: 900px) {
	
	.mainInfo{
padding-top: 20px;
padding-bottom: 20px;
		color: #028090;
	}
	
		
}

@media screen and (max-width: 768px){
	.mainInfo{
		color: #028090;
		font-size: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	

	
}

